body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif;
  font-weight: 700;
}
a {
  text-decoration: none;
}
label {
  font-size: 16px;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 0 20px 12px;
  margin-left: -20px;
  font-family: 'Bitter', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}